style.
    * {
        font-family: sans-serif;
    }

    .header {
        text-align: center;
        background-color: black;
        color: white;
    }

    a {
        padding: 0 5px;
        background-color: black;
        color: white;
    }

    a.button {
        background-color: black;
        padding: 10px;
        color: white;
    }

    p {
        color: black;
    }

div(class='header')
    h1 #{siteName}

p Hi there!

p Your account has been blocked because someone has tried to sign in with an incorrect password too many times.

p Don't worry, your account is safe. This is just a method to prevent brute force attacks.

p Please click the button below to unblock your account.

a(href=unblockUrl, class="button") Unblock my account
